{
  "semi": true,
  "bracketSpaacing": true,
  "printWidth": 140,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    }
  ]
}
